<% provide(:title, "Main Page") %>
<div class="main_spacer"></div>
<div class="post_container">
  <div id="new_post_container">
    <div class="post" id="post_new">
      <%= form_for @newpost do |f| %>
        <div class="form_label">Overskrift: </div>
        <%= f.text_field :title %>
        <div class="post_inner_spacer"></div>
        <div class="form_label">Youtube-kode: </div>
        <%= f.text_field :embed_code %>
        <div class="post_inner_spacer"></div>
        <div class="form_label">Beskrivelse: </div>
        <%= f.text_area :content %>
        <div class="post_inner_spacer"></div>
        <%= f.submit %>
        <div class="post_inner_spacer"></div>
      <% end %>
    </div>
    <div class="post_spacer"></div>
  </div>
  <% @posts.each do |p| %>
    <div class="post" id="post_<%= p.id %>">
      <div id="post_<%= p.id %>_title" class="post_title"><%= image_tag "drop_arrow.png", class: "drop_arrow" %><%= p.title %></div>
      <div id="post_<%= p.id %>_content" class="post_content">
        <div class="post_inner_spacer"></div>
        <% if (!p.embed_code.blank?) %>
            <div class="video_big"><iframe src="<%= p.embed_code %>"></iframe></div>
            <div class="post_inner_spacer"></div>
        <% end %>
        <p><%= p.content %></p>
        <div class="post_inner_spacer"></div>
      </div>
      <small><%= p.created_at %></small>
    </div>
    <div class="post_spacer"></div>
  <% end %>
</div>