<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="uber_frame">
      <div class="shadow_right"></div>
      <div class="master_frame">
        <div class="main_spacer"></div>
        <img id="title_img" src="<%= image_path "header_img_tais.png" %>" />
        <div class="main_spacer"></div>
        <div class="header_spacer"></div>
        <div class="header_01">
          <div id="right_header">
            <div id="new_login_button">
              <img id="login_image" src="<%= image_path("login.png") %>"></img>
              <img id="new_image" src="<%= image_path("new_post.png") %>"></img>
          </div>
            <div id="login_form">
              <%= form_tag({:action => :authenticate}, :format => :js,
                           :remote => true) do -%>
                Brugernavn: <%= text_field_tag :username %>
                Password: <%= password_field_tag :password %>
                <%= submit_tag "Log ind" %>
              <% end %>
            </div>
            <div id="login_response"></div>
          </div>
        </div>
        <%= yield %>
      </div>
      <div class="shadow_left"></div>
    </div>
  </body>
</html>
